.login-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-header {
  cursor: default;
}

.vcs-icon {
  margin-right: 20px;
  width: 36px;
}

.logo {
  width: 220px;
  margin: 20px;
}
