<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        Repo Manager
    </title>

</head>

<body>
    <h1>Repo Manager</h1>
    <ul>
      <li><a href="/auth/github">Github</a></li>
      <li><a href="/accounts/github/">ADD Github</a></li>
      <li><a href="/auth/gitlab">Gitlab</a></li>
      <li><a href="/accounts/gitlab/">ADD Gitlab</a></li>
      <li><a href="/accounts/bitbucket/">ADD Bitbucket</a></li>
      <li><a href="/auth/bitbucket">Bitbucket</a></li>
      <li><a href="/repos/github">Github Repos</a></li>
      <li><a href="/repos/gitlab">GitLab Repos</a></li>
      <li><a href="/repos/bitbucket">Bitbucket Repos</a></li>
      <li><a href="/accounts">Accounts</a></li>
    </ul>


</body>

</html>
