<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        Repo Manager
    </title>

</head>

<body>
    <h1>Repo Manager</h1>
    <a href="/auth/github">Github</a>
    <a href="/github/test/5920d39786d6533b4fdb13fe">Github-ADD_GENERATED_USER_ID</a>
    <a href="/auth/gitlab">Gitlab</a>
    <a href="/gitlab/test/5920d39786d6533b4fdb13fe">Gitlab-ADD_GENERATED_USER_ID</a>
    <a href="/auth/bitbucket">Bitbucket</a>
    <a href="/bitbucket/test/ADD_GENERATED_USER_ID">Bitbucket-ADD_GENERATED_USER_ID</a>
</body>

</html>
