.languages-container {
  margin: 0;
}

.small-logo {
  width: 40px;
  margin: 5px 15px 5px 0;

}

.app-title-header {
  cursor: default;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.app-container {
  background-color: #c7f289;
}
